.card {
  --g: 4px;
  --b: 12px; 
  --c: #1c74a7e1;
  
  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
  background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b),var(--b) 200%;
  cursor: pointer;
  filter: brightness(115%);
  transition: .3s;
}

.card:hover {
  --_p: 75%;
  transition: all 0.4s linear;
}

a:hover {
  color: white;
  font-weight: bold ;
}