* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.App {
  background: linear-gradient(
    180deg,
    rgba(18, 111, 163, 1) 0%,
    rgba(14, 87, 133, 1) 29%,
    rgba(7, 59, 101, 1) 74%,
    rgba(0, 0, 0, 1) 100%
  );
  height: 100vh;
}
